/* You can add global styles to this file, and also import other style files */
.nav-link {
  color: #0b3948;
  text-transform: uppercase;
  font-weight: 600;
  /*font-weight: bold;*/
}
section {
  padding: 5% 0;
}
.nav-brand img {
  height: 30px;
}

section h1 {
  font-weight: 700;
}
.btn-red {
  color: #ffffff;
  background-color: #a60000;
}

.btn-red:hover {
  color: #ffffff;
  background-color: #c10505;
}

#news_section .card {
  background-color: #FFFFFF;
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 10%);
    border-radius: 12px 12px 12px 12px;
    border: none;
}

#news_section .card-title {
  color: #212529;
}

#news_section .card-text {
  color: #212529;
}

#news_section .card-footer {
  border: none;
  background: none;
}
#hero_section {
  background: #f7f5f2;  /* fallback for old browsers */
    background: linear-gradient(rgb(247,245,242,0.2), rgb(247,245,242,0.8)), url("http://localhost:3000/assets/images/hero-bg.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(247,245,242,0.2), rgb(247,245,242,0.8)), url("http://localhost:3000/assets/images/hero-bg.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
}
#hero_section, #news_section {
  padding: 5% 0;
  /*background-color: #f7f5f2;*/
  background-color: #edf3f1;
}
#contact_section, #pricing_section {
  padding: 5% 0 0;
  background-color: #edf3f1;
}
#contact_section .form-label {
  color: #ffffff;
}
#contact_section .bg-dark {
  background-color: #0b3948 !important;
}
#hero_section p {
  color: #748289;
}
#how_it_works_section .card {
  background: none;
  border: none;
}
#carousel_section {
  padding: 5% 0;
  background-color: #ffffff;
}
#carousel_section h3 {
  color: #0B3948;
}
#carousel_section .owl-carousel .owl-item img {
  /*box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 8%);*/
  /*padding: 8% 25%;
  border-radius: 6px;*/
}
#how_it_works_section {
    background-color: #ffd470;
    padding: 5% 0;
}
#how_it_works_section .fa {
  margin: 10px auto;
    /*padding: 36px;*/
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: -5px -5px 0px 0px #d9d9d9;
    padding: 23px 20px 20px 23px;
    width: 90px;
    line-height: 45px;
}
.btn-primary {
  background-color: #0b3948;
  border-color: #0b3948;
}
.btn-secondary {
  color: #0b3948;
  background-color: #FFD470;
  border-color: #FFD470;
}
.mini-title {
  color:  #0b3948;
  background: #ffffff;
  border-radius: 20px;
  padding: 2px 10px;
}
footer {
  background-color: #0b3948;
  padding: 5% 0 0;
}
.footer-bottom {
  border-top: 1px solid #40565d;
    margin-top: 40px;
    padding: 15px 0;
}
.footer-bottom p {
 color: #ffffff;
}
footer h4{
color: #ffffff;
}
footer ul {
  padding-left: 0;
}
footer li {
  list-style: none;
}
footer li a {
color: #ffffff;
text-decoration: none;
}
@media (min-width: 1200px) {
  .container{
      max-width: 1140px;
  }
}
