/* You can add global styles to this file, and also import other style files */
.nav-link {
  color: #0b3948;
  text-transform: uppercase;
  font-weight: 600;
  /*font-weight: bold;*/
}
section {
  padding: 5% 0;
}
section h1 {
  font-weight: 700;
}
#hero_section,#contact_section {
  padding: 5% 0;
  background-color: #f7f5f2;
}
#carousel_section {
  padding: 5% 0;
  background-color: #ffffff;
}
#carousel_section .owl-carousel .owl-item img {
  /*box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 8%);*/
  /*padding: 8% 25%;
  border-radius: 6px;*/
}
.btn {
  background-color: #0b3948;
  border-color: #0b3948;
}
.mini-title {
  color:  #0b3948;
  background: #ffffff;
  border-radius: 20px;
  padding: 2px 10px;
}
footer {
  background-color: #0b3948;
  padding: 5% 0;
}
footer h4{
color: #ffffff;
}
footer ul {
  padding-left: 0;
}
footer li {
  list-style: none;
}
footer li a {
color: #ffffff;
text-decoration: none;
}
@media (min-width: 1200px) {
  .container{
      max-width: 1140px;
  }
}
